# Logs
*.log

# Diretório de dependências
node_modules

# Chaves de autenticação e credenciais
.env

# IDE - VSCode
.vscode

# Outros arquivos e diretórios que não devem ser copiados para a imagem Docker
.git
README.md
*.md
